<html>
<body>
<form>
    <th:block th:fragment="input (label, name, fieldName)">
        <div th:with="valid=${!#fields.hasErrors(fieldName)}"
             th:class="${'form-group' + (valid ? '' : ' has-error')}"
             class="form-group">
            <label class="col-sm-2 control-label" th:text="${label}">Label</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" th:name="${name}" />
            </div>
            <th:block th:if="${!valid}">
            <span
                    class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
                <span class="help-inline" th:errors="*{__${fieldName}__}">Error</span>
            </th:block>
        </div>
    </th:block>
</form>
</body>
</html>
